*~
*.[oa18]
*.l[oa]
Makefile
.deps/
.libs/
.dirstamp
/config.h
/libtool
*.head
*.tail
/conf/plugins/*.conf
/conf/plugins/*.tmp

/src/dumm/ext/extconf.rb
/conf/strongswan.conf.5
/man/ipsec.conf.5
/man/ipsec.secrets.5
/scripts/aes-test
/scripts/bin2array
/scripts/bin2sql
/scripts/crypt_burn
/scripts/dh_speed
/scripts/dnssec
/scripts/fetch
/scripts/hash_burn
/scripts/id2sql
/scripts/key2keyid
/scripts/keyid2sql
/scripts/malloc_speed
/scripts/oid2der
/scripts/pubkey_speed
/scripts/thread_analysis
/src/_copyright/_copyright
/src/_updown/_updown
/src/charon/charon
/src/ipsec/_ipsec
/src/openac/openac
/src/pki/pki
/src/scepclient/scepclient
/src/starter/starter
/src/stroke/stroke
